body {
    font: 1.3em Georgia, serif;
    background-color: lightgoldenrodyellow;
    line-height: 1.3em;
}

/* TODO: remove */
dt, dd {
    padding: 7px 0 0 0;
}

.article-content {
    padding: 0 15px;
}

.article-table-of-contents {
    line-height: 1.4em;
}

code {
    font-family: Consolas, monospace;
    font-weight: bold;
}

.html-code {
    border: 1px solid gray;
    border-radius: 12px;
    padding: 15px 10px;
    background-color: white;
}

.css-value-list  {
    border-collapse: collapse;
    border: 1px solid gray;
    background-color: white;
}

.css-value-list td {
    border-top: 1px solid gray;
}

.css-value-list th, td {
    padding: 10px;
    text-align: left;
}